<?xml version="1.0" encoding="utf-8"?>
<!-- Nur Debug-Versionen (zum Testen gegen den lokalen Firebase-Emulator über http://localhost). Nie in der verschickten APK. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic" />
</manifest>
